[submodule "libs/DataTables"]
	path = libs/DataTables
	url = git@github.com:DataTables/DataTables.git
[submodule "libs/d3"]
	path = libs/d3
	url = git@github.com:mbostock/d3.git
[submodule "libs/c3"]
	path = libs/c3
	url = git@github.com:masayuki0812/c3.git
[submodule "libs/pivottable"]
	path = libs/pivottable
	url = git@github.com:nicolaskruchten/pivottable.git
